<!DOCTYPE html>
<html>
<head>

    <meta name="viewport" content="minimum-scale=1.0, width=device-width, maximum-scale=1.0, user-scalable=no"/>
    <meta charset="utf-8">

    <title>Cryptocurrency Valuations</title>

<!--     <link rel="stylesheet" href="/css/style.css"/> -->

</head>
<body> 

    <h1>Cryptocurrency Valuations</h1>
    <hr width="100%" size="1">

    <table>
        <tr>
            <th>Currency</th>
            <th>Price</th>
            <th>Shares</th>
            <th>Value</th>
        </tr>
        <tr>
            <td>Bitcoin</td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td>Ether</td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td>IOTA</td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td><b>TOTAL</b></td>
            <td></td>
            <td></td>
            <td><b></b></td>
        </tr>        
    </table>

</body>
</html>